// Breakpoints
$large-breakpoint: 80em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #190709 !default;
$header-bg-color: #AE1C28 !default;
$header-bg-color-secondary: #21468B !default;

// Text
$section-headings-color: #060D1A !default;
$body-text-color: #404c51 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
